body {
  background: #ffffff;
  /*#2e3440*/
  color: #5a5a5a;
}

.search_box {
  margin-top: 0%;
  margin-bottom: 2%;
  width: 100%;
  padding-bottom: 25px;
}

.input_box {
  border: none;
  outline: none;
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 10px;
  background: #dddddd;
  /*#4c566a*/
  padding: 15px;
  color: #5a5a5a;
  font-size: 20px;
  transition: 0.4px all;
  border-radius: 5px 5px 5px 5px;
  width: 600px;
  /*box-shadow: 3px 4px #0F1011;*/
}

li {
  list-style-type: none;
  padding: 5px;
}

a:link {
  text-decoration: none;
  color: #5a5a5a;
}

a:visited {
  color: #5a5a5a;
}

a:hover {
  color: #0091eb;
}

.favicon {
  -webkit-user-select: none;
  margin: auto;
}

.addicon {
  margin: auto;
  width: 50px;
  height: 50px;
  opacity: 0.4;
  /*filter: grayscale(100%);*/
}

.grid {
  background: #ffffff;
  /*#2e3440*/
  position: relative;
  height: 500px;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: 15%;
  color: #5a5a5a;
}

.item {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5px;
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  background: #dddddd;
  border: #191c1e;
  z-index: 1;
}

.item-content {
  border-radius: 5px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  overflow-wrap: break-word;
  width: 100%;
  height: 100%;
  /*font-size: 50px;*/
  cursor: pointer;
}

.item.muuri-item-dragging {
  background: #94a4ad;
}

.item.muuri-item-releasing {
  background: #889096;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

#menu {
  display: block;
  background-color: white;
  padding: 10px 0px;
  border-radius: 5px;
  box-shadow: 2px 2px 30px lightgrey;
  position: absolute;
  transform-origin: center;
  z-index: 2;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s, opacity 0.2s;
}

#menu.show {
  opacity: 1;
  transform: scale(1);
  transform-origin: top left;
}

.menu-item {
  display: none;
  padding: 10px 30px;
  transition: 0.1s;
  color: #666;
}

.menu-item:hover {
  background-color: #eee;
  cursor: pointer;
}

#out-click {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: none;
}

#blur {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(102, 102, 102, 0.507);
  /* Fallback color */
  /* Black w/ opacity */
}

/* Modal Content */

.modal {
  background-color: #fefefe;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(190, 190, 190);
  width: 25%;
  z-index: 2;
  color: #666;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

#modalContent {
  padding-top: 20px;
}

.input_modal {
  border: none;
  outline: none;
  margin-bottom: 2%;
  padding-bottom: 10px;
  background: #ebebeb;
  /*#4c566a*/
  padding: 11px;
  color: #5a5a5a;
  border-radius: 5px 5px 5px 5px;
  /*box-shadow: 3px 4px #0F1011;*/
}

.button_modal {
  border: 1px rgb(85, 85, 85);
  margin-bottom: 2%;
  margin-top: 10%;
  padding-bottom: 10px;
  background: #dddddd;
  width: 120px;
  /*#4c566a*/
  padding: 15px;
  color: #5a5a5a;
  transition: 2px all;
  border-radius: 5px 5px 5px 5px;
  margin-left: calc(97% - 120px);
  /*box-shadow: 3px 4px #0F1011;*/
}

.button_modal:active {
  transform: scale(1.1, 1.1);
}

.button_modal::after {
  transform: scale(1, 1);
}

label {
  margin-right: 25px;
  margin-bottom: 25px;
  font-size: 20px;
}